@font-face {
    font-family: 'BraveNews';
    src: url("../libs/fonts/BreveNews-BlackItalic.woff2") format("opentype");
}

@font-face {
    font-family: 'Maax-Bold';
    src: url("../libs/fonts/Maax-Bold.woff2") format("opentype");
}

@font-face {
    font-family: 'Maax';
    src: url("../libs/fonts/Maax.woff2") format("opentype");
}

.text-carousel-position {
    left:0;

}

.text-menu {
    font-family: "Maax"
}

.text-theme-1 {
    font-family: "Maax"
}

.text-theme-2 {
    font-family: "Maax-Bold"
}

.text-theme-3 {
    font-family: "BraveNews"
}

.text-color{
    color: #1f489d;

}

.text-trans{
    color: rgba(255, 255, 255, 0.5);

}

.bg-color{
    background-color: #1f489d;
}

.text-orange {
    color: #e84e1b;
}
.text-bg-orange {
    color: #fff;
    background-color: #e84e1b;
}

.btn-trans {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 15px 20px;
    text-decoration: none;
}

.btn-form {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    padding: 5px 15px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.active-menu {
    color: #fff !important;
    background-color: #8bb8e8;
    border-radius: 15px;
}

.form-vac {
    background-color: #1f489d;
    color:#fff;
    padding: 15px 20px;
    border-radius: 15px;
    position: relative;
}

.form-vac label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.form-vac span {
    border-radius: 50%;
    background-color: #fff;
    color: #1f489d;
    padding: 5px 3px;
}

.form-vac input::placeholder {
  color: #fff;
  font-size: 0.9rem;
}

.form-vac .search {
    background-color: rgba(255, 0, 0, 0);
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}
.form-vac .date_input {
    background-color: rgba(255, 0, 0, 0);
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

.form-vac .select {
    width: 40%;
    background-color: rgba(255, 0, 0, 0);
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

.card {
    border:none;
    border-radius:5px;
    background-color: #fff;
}
.figcaption {
    position: relative;
    top:0;
    z-index: 999
}

.bg-img {
    display:inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 15rem;
}

.bg-img-2 {
    display:inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25rem;
}

.text-img-top {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

.text-img-bottom {
    position: relative;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 12px;
    position:absolute;
    bottom:0;
    left:0;
    padding: 5px;
}
.text-img-bottom-right {
    position: relative;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 12px;
    position:absolute;
    bottom:0;
    right:0;
}
.title-we {
    border: solid 1px #000;
    border-radius: 10px;
    width: 40%;
}

.bg-footer{
    background-color: #0747a3;
}

@media (max-width: 768px) {
    .title-we {
        width: 50%;
    }
}

@media (max-width: 540px) {
    .title-we {
        width: 90%;
    }
}
