html,
body {
    background-color: #039BE5
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 50px
}

.slick-slide {
    margin: 10px
}

.slick-slide img {
    width: 100%;
    border: 0px solid #fff
}

.slick-prev:before, .slick-next:before {
    color:#0747a3 !important;
}
